@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

.main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h1 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.task-form {
  display: flex;
}

.task-form input {
  font-family: 'Fuzzy Bubbles', cursive;
  padding: 0.5rem;
  border: none;
  background-color: whitesmoke;
}

.task-form input:focus {
  outline: none;
}

.task-form button {
  border: none;
  background-color: red;
  color: white;
  font-size: 1.5rem;
}

.task-form button:hover {
  background-color: #c00000;
}